.menu {
  list-style: none;
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
}

.link {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cont {
  display: flex;
  align-items: end;
}
